---
http_interactions:
- request:
    method: post
    uri: http://www.knowtify.io/api/v1/contacts/upsert
    body:
      encoding: UTF-8
      string: '{"contacts":[{"email":"test@example.com"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="<KNOWTIFY_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"39f1cde3a1045e6ea22938f955a72eb6"
    body:
      encoding: UTF-8
      string: '{"status":"received","contacts":1,"contacts_updated":1,"contacts_errored":0,"errors":"None
        found by our cylon detector.","warnings":["No data for test@example.com?"]}'
  recorded_at: Tue, 18 Aug 2015 05:56:08 GMT
- request:
    method: post
    uri: http://www.knowtify.io/api/v1/contacts/delete
    body:
      encoding: UTF-8
      string: '{"contacts":["test@example.com"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="<KNOWTIFY_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"05962b8f1e5f8d57acb7f2bb49b65849"
    body:
      encoding: UTF-8
      string: '{"status":"received","contacts":1,"successes":1,"errors":0}'
  recorded_at: Tue, 18 Aug 2015 05:56:08 GMT
recorded_with: VCR 2.9.3
