---
http_interactions:
- request:
    method: post
    uri: http://www.knowtify.io/api/v1/contacts/upsert
    body:
      encoding: UTF-8
      string: '{"contacts":[{"email":"test@example.com","data":{"created_at":"2015-08-17T23:55:42-06:00"}}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="<KNOWTIFY_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d7a3e52eb0f27be8c207c345575a484e"
    body:
      encoding: UTF-8
      string: '{"status":"received","contacts":1,"contacts_updated":1,"contacts_errored":0,"errors":"None
        found by our cylon detector.","warnings":"...and zero warnings! Your request
        is in ship shape!"}'
  recorded_at: Tue, 18 Aug 2015 05:55:43 GMT
recorded_with: VCR 2.9.3
